.container {
  min-height: 100vh;  
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: yellow;
}

.main {
  flex: 1;
}

.footer {
  display: flex;
  width: 100%;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background: green;
}


/*
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
*/
