.form {
  display: block;
}
.form p.formnotvalid {
  color: var(--color-yellow)
}
.form p.servererror {
  color: var(--color-red)
}
.form p.formsent {
  color: var(--color-dark-5)
}
.fieldWrap {
  width: 50%;
  transition: 1s;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0s ease-in-out 0.5s;
}
.noShow {
  transform: translateX(-150%);
  opacity: 0;
}
.form fieldset {
  border: none;
  margin: 0 0 0.5em;
  padding: 0;
}
.form input,
.form textarea {
  width: 100%;
  margin: 0;
  padding: 5px;
  font-size: 0.8em;
  line-height: 0.8em;
  color: var(--color-dark-1) !important;
  border: 1px solid var(--color-dark-3);
  background-color: var(--color-light-1);
  transition: all 0.5s ease-in-out;
  -webkit-appearance: none;
  border-radius: 0;
}
.form textarea {
  resize: none;
  overflow: auto;
}
.form input:focus,
.form textarea:focus,
.form input:valid,
.form textarea:valid {
  background-color: #fff;
  outline: none;
}

/* Change Autocomplete styles*/
.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form textarea:-webkit-autofill,
.form textarea:-webkit-autofill:hover,
.form textarea:-webkit-autofill:focus,
.form select:-webkit-autofill,
.form select:-webkit-autofill:hover,
.form select:-webkit-autofill:focus {
  border: 1px solid var(--color-dark-3);
  background-color: #fff !important;
  -webkit-text-fill-color: var(--color-dark-1);
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 9999s ease-in-out 9999s;
}

.form input::placeholder,
.form textarea::placeholder,
.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder,
.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-dark-3);
  opacity: 1;
  /* Firefox */
}

@media (max-width: 1024px) {
  .fieldWrap {
    width: 100%
  }
  .form input,
  .form textarea {
      font-size: 1.3em;
      line-height: 1.3em;
      
  }
}

