/* VARIABLES */
:root {
  --color-light-0: #f4f4f2;
  --color-light-1: #f6f6f4;
  --color-light-2: #e8e8e8;
  --color-dark-1: #495464;
  --color-dark-2: #bbbfca;
  --color-dark-3: #bbbbbe;
  --color-dark-4: #00b7aa;
  --color-dark-5: #30928a;
  --color-red: #900c3f;
  --color-yellow: #dfa01e;
  --color-yellow-2: #e5b34b;
  /* 1D5575 4496A1 141217 */
  /* A9A659 B74645 */

  --size-1: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

  --scrollbar-width: calc(100vw - 100%);
  --window-width: calc(100vw);
  --window-height: calc(100vh);
  --content-height: calc(100vh);
}

/* RESET CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set Font Size*/
body {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  text-rendering: optimizeSpeed;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Set core body defaults */
html * {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: -webkit-fill-available;
}
body {
  perspective: 1000px;
  background-color: var(--color-light-0);
  color: var(--color-dark-1);
}
body,
html {
  /*
  width: var(--window-width);
  min-height: var(--window-height);
  */
  width: 100%;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h1 {
  font-size: 2em;
  line-height: 2em;
  padding-bottom: 0.5em;
}
p {
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 0.5em;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
    line-height: 2.5em;
  }

  p {
    font-size: 1.6em;
    line-height: 1.6em;
  }
}
/* MAIN LAYOUT */

.container {
  width: var(--window-width);
  min-height: var(--window-height);
  position: relative;
  overflow: hidden;
}
.wrapper {
  position: relative;
  z-index: 2;
  width: var(--window-width);
  min-height: var(--window-height);
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}
.mainWrap {
  width: 100%;
}
.main main {
  padding: 1.5em;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2em;
  height: 2em;
  border-top: 1px solid var(--color-light-2);
  background: var(--color-light-0);
}
/* LOGO */
.logo a {
  text-decoration: none;
  display: block;
  font-size: 1.6em;
  line-height: 1.6em;
  padding: 0.3em 1.1em 0.3em 1em;
  position: relative;
}
.logo span {
  display: inline-block;
  transform: scale(1.3) translateX(0.2em);
}
.logo a #circleLogo {
  position: relative;
  transition: all 0.7s ease-in-out;
  transform-origin: center right;
  animation: rotation 0.7s ease-in-out;
  animation-delay: 0.2s;
}
.logo a:hover #circleLogo {
  transform: rotate(360deg);
}

/* NAVIGATION */
.headerWrapper {
  border-bottom: 1px solid var(--color-light-2);
  background: var(--color-light-0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.disableselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge*/
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
nav.mobileNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.52em;
  width: 7.04em;
  z-index: 1000;
  touch-action: none;
}
nav.closed {
  height: 3.52em;
  width: 7.04em;
  
}
nav.open {
  height: var(--window-height);
  width: 100%;
}
.note {
  position: absolute;
  color: white;
  right: 10px;
  top: -100px;
  opacity: 0;
}
nav.opening .note {
  top: 10px;
  animation: appear 0.5s ease-out 1.5s forwards;
}
nav.closing .note {
  top: -100px;
  opacity: 0;
}
nav.mobileNav .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.52em;
  width: 7.04em;

  background-image: radial-gradient(farthest-corner at 20px 20px,
    var(--color-yellow-2) 0%,
    var(--color-yellow) 100%);
}
nav.closed .background {
  height: 3.52em;
  width: 7.04em;
  
}
nav.open .background {
  height: var(--window-height);
  width: 100%;
}
nav button {
  outline: none;
  border: none;

  cursor: pointer;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0.26em;
  left: 0.75em;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  background: transparent;
}
nav button svg {
  position: absolute;
  top: 0.9em;
  left: 0.75em;
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
}

nav.mobileNav ul {
  padding: 1.5em;
  position: absolute;
  top: -1000px;
  width: 100%;
}
nav.desktopNav ul {
  display: flex;
}
nav.open ul {
  top: 100px;
}

nav.mobileNav li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav.desktopNav li {
  list-style: none;
  cursor: pointer;
  transition: background-position-x 0.9s linear;
}

nav.desktopNav li:hover {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MDAgMTAwIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEwMCI+Cgk8c3R5bGU+CgkJdHNwYW4geyB3aGl0ZS1zcGFjZTpwcmUgfQoJCS5zaHAwIHsgZmlsbDogbm9uZTtzdHJva2U6ICNkZmEwMWU7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDogNyB9IAoJPC9zdHlsZT4KCTxwYXRoIGlkPSJMYXllciAzIiBjbGFzcz0ic2hwMCIgZD0iTTAgOTZMMCA5NkwzMDAgOTZDMzMyLjc1IDk1LjUgMzQ4LjQ5IDc0Ljg1IDM3NC4yNiA3Ny4xN0M0MDAuMTMgNzkuNSAzOTMuNjUgOTUuOSA0MjMuMzMgOTZDNDU2LjU0IDk2LjExIDYwMCA5NiA2MDAgOTZMNjAwIDk2QzYwMCA5NiA0NTguOCA5Ni4xMSA0MjMuMjIgOTZDMzkzLjY1IDk1LjkxIDQwMS43NSA4Mi42OSAzNzQuODggNzcuNzRDMzUwLjEyIDczLjE4IDMzOS4wNCA5Mi42NSAzMDAgOTZMMCA5NloiIC8+Cjwvc3ZnPg==");
  background-position: left bottom;
  background-repeat: repeat-x;
  animation: line 1s;
}

nav a {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
  color: var(--color-dark-1);
  transition: all 0.5s ease-in-out;
  outline: none;
  text-shadow: 1px 1px 20px white;
}
nav.mobileNav a {
  font-size: 2em;
  line-height: 2em;
}
nav a:hover {
  color: var(--color-dark-5);
}

nav .active {
  color: var(--color-dark-5);
}

nav a:focus {
  outline: none;
}

@keyframes line {
  0% {
    background-position-x: 600px;
  }
}
@media (max-width: 1024px) {

  .headerWrapper {
    justify-content: center;
  }
}
@media (max-width: 411px) {

  nav.mobileNav a {
    font-size: 1.8em;
    line-height: 1.8em;
  }
}

@media (max-height: 720px) and (orientation: landscape) {
  nav.mobileNav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav.open ul {
    top: 60px;
  }
  nav.mobileNav li {
    width: 45%;
  }
}


/* Button and CTA Button */

.btn,
.ctaButton {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin: 1em 0 0 0;
}

.btn button,
.ctaButton a {
  background-color: var(--color-yellow);
  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-size: 1.5em;
  line-height: 2em;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--color-light-0);
  outline: none;
  position: relative;
  z-index: 6;
  transition: 0.5s;
}
.ctaButton a {
  width: 50%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.btn button:focus,
.ctaButton a:focus {
  outline: none;
}
.btn button:before,
.ctaButton a:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}

.btn button:after,
.ctaButton a:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100px) skewX(-15deg);
}
.btn button.active,
.ctaButton a.active {
  background: var(--color-dark-5);
  cursor: pointer;
}

.btn button.active:before,
.ctaButton a.active:before {
  transform: translateX(calc(100vw)) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

.btn button.active:after,
.ctaButton a.active:after {
  transform: translateX(calc(100vw)) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}
@media (hover: hover) {
  .btn button:hover,
  .ctaButton a:hover {
    background: var(--color-dark-5);
    cursor: pointer;
  }

  .btn button:hover:before,
  .ctaButton a:hover:before {
    transform: translateX(calc(100vw)) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
  }

  .btn button:hover:after,
  .ctaButton a:hover:after {
    transform: translateX(calc(100vw)) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
  }
}

@media (max-width: 540px) {
  .ctaButton a {
    width: 100%;
  }
}

/* BACKGROUND CIRCLES */
#circle {
  z-index: 1;
  position: absolute;
  top: 0;
  left: calc(var(--window-width) / 2);
  width: var(--window-width);
  height: var(--window-width);
  /* Heights of the svgs are the same */

  transition: transform 1s;

}
.circleWrap {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

#circle1 div {
  animation: rotationBack 50s infinite linear;
}
#circle2 div {
  animation: rotation 40s infinite linear;
}

@media (max-width: 1024px) {
  #circle {
    top: 0;
    left: 0;
    opacity: 0.2;
    width: calc(2 * var(--window-width));
    height: calc(2 * var(--window-width));
    /* Heights of the svgs are the same */
    animation: none;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationBack {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}


/* PROJECTS AND BLOG */
main.projects ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main.projects ul,
main.projects li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
main.projects li {
  width: 40%;
  min-width: 250px;
  margin: 0 1.5rem 3rem 0;
}

main.projects li a {
  position: relative;
  z-index: 4;
  display: inline-block;
  outline: none;
  width: 100%;
  height: 100%;
  color: var(--color-dark-1);
  text-decoration: none;
  transform-origin: 0% 50%;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main.projects li a::after {
  content: "";
  position: absolute;
  z-index: 3;
  background-color: var(--color-yellow-2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  transform-origin: 50% 50%;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* Scale up the box */
main.projects li a:hover {
  transform: scale(1.1, 1.1);
}
/* Fade in the pseudo-element with the bigger shadow */
main.projects li a:hover::after {
  opacity: 1;
  transform: scale(1.1, 1.2);
}
main.projects h4 {
  position: relative;
  z-index: 4;
  font-size: 1.4em;
  line-height: 1.5em;
}
main.projects span {
  position: relative;
  z-index: 4;
  display: block;
  margin: 0.5rem 0;
  font-size: 0.8em;
  line-height: 1.3em;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
span.dots {
  text-align: right;
}
.project {
  width: 50%;
}
.project .post {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
.project p {
  font-size: 0.9em;
  line-height: 1.6em;
  padding-bottom: 1.5em;
  letter-spacing: 1px;
}
.project img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
  transition: transform .5s ease;
  transform: scale(1);
}
@media screen and (min-width: 1025px) {
  .project img.zoomedIn {
    transform: scale(1.5) translateX(25%);
  }
}
@media (max-width: 1360px) {
  main.projects h4 {
    font-size: 1.6em;
    line-height: 1.6em;
  }
  main.projects span {
    font-size: 1em;
    line-height: 1.4em;
  }
  main.projects li {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  main.projects ul {
    width: 90%;
  }
  main.projects li {
    width: 40%;
  }
  .project {
    width: 100%;
  }
  .project p {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  main.projects li {
    width: 100%;
    min-width: 150px;
  }
  main.projects h4 {
    font-size: 1.8em;
    line-height: 1.8em;
  }
  main.projects span {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  main.projects li a:hover::after {
    transform: scale(1.5, 1.2);
  }
  .project p {
    font-size: 1.2em;
  }
}
/* FOOTER */

.footer span {
  animation: appear 0.5s ease-out 1s forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

#circleLogoS {
  animation: appear 0.5s ease-out 1s forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0.1;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
