/* VARIABLES */
:root {
  --color-light-0: #f4f4f2;
  --color-light-1: #f6f6f4;
  --color-light-2: #e8e8e8;
  --color-dark-1: #495464;
  --color-dark-2: #bbbfca;
  --color-dark-3: #bbbbbe;
  --color-dark-4: #00B7AA;
  --color-dark-5: #30928A;
  --color-red: #900C3F;
  --color-yellow: #DFA01E;
  /* 1D5575 4496A1 141217 */
  /* A9A659 B74645 */

  --size-1: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

  --scrollbar-width: calc(100vw - 100%);
  --screen-full-width: calc(100vw * 1);
  --screen-half-width: calc(100vw / 2);
}

/* RESET CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set Font Size*/
body {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  text-rendering: optimizeSpeed;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Set core body defaults */
html * {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
html {
  height: -webkit-fill-available;
}
body {
  perspective: 1000px;
  background-color: var(--color-light-1);
  color: var(--color-dark-1);
}
body, html {
  /*
  width: var(--window-width);
  min-height: var(--window-height);
  */
  width: 100%;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;
}
h1 {
  font-size: 2em;
  line-height: 2em;
  padding-bottom: 0.5em;
}
p {
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 0.5em;
}
/* MAIN LAYOUT */

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}
.mainWrap {
  width: 100%;
}
.main main {
  padding: 1.5em;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2em;
  height: 2em;
  border-top: 1px solid var(--color-light-2);
  background: var(--color-light-1);
}
/* LOGO */
.logo a {
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.3em 1.1em 0.3em 1em;
  position: relative;
}
.logo span {

  display: inline-block;
  transform: scale(1.3) translateX(0.2em);

}
.logo a #circleLogo {
  position: relative;
  transition: all .7s ease-in-out;
  transform-origin: center right;
  animation: rotation .7s ease-in-out;
  animation-delay: 0.2s;
}
.logo a:hover #circleLogo {
  transform: rotate(360deg);
}

/* NAVIGATION */
.headerWrapper {
  border-bottom: 1px solid var(--color-light-2);
  background: var(--color-light-1);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav {
  animation: appear 0.5s ease-out 0.1s forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

nav ul {
  text-align: center;
}
nav li {
  display: inline;
}
nav a {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
  color: var(--color-dark-1);
  transition: all 0.5s ease-in-out;
  outline: none;
  transform: scale(1);
}
nav a:hover {
  color: var(--color-dark-5);
  transform: scale(1.1);
}
nav .active {
  color: var(--color-dark-5);
}
nav a:focus {
  outline: none;
}
@media (min-width: 540px) {
  .headerWrapper {
    justify-content: space-between;
  }
  nav a {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}

/* Button and CTA Button */

.btn,
.ctaButton {
  width: 5em;
  height: 3em;
  border: 1px solid var(--color-dark-3);
  background-color: var(--color-light-2);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  transition: 0.5s;
}
.ctaButton {
  width: 8em;
}
.btn button,
.ctaButton a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: 2em;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--color-dark-1);
  outline: none;
  position: relative;
  z-index: 6;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ctaButton a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 2em;
  padding: 0.4em 0 0.6em 0;
}
.btn::before,
.btn::after,
.ctaButton::before,
.ctaButton::after {
  position: absolute;
  background-color: var(--color-light-2);
  z-index: 4;
  transition: 0.5s;
  content: '';
}

.btn::before,
.ctaButton::before {
  height: 2em;
  width: 4em;
}

.btn::after,
.ctaButton::after {
  width: 5em;
  height: 1.5em;
}

.ctaButton::after {
  width: 8em;
}

.btn:hover::before,
.ctaButton:hover::before {
  width: 0px;
  background-color: var(--color-light-1);
}

.btn:hover::after,
.ctaButton:hover::after {
  height: 0px;
  background-color: var(--color-light-1);
}

.btn:hover,
.ctaButton:hover {
  background-color: var(--color-light-1);
}
.pushEffWrapper {
  position: relative;
  margin-top: 2em;
  width: 8em;
  height: 3em;
}
.pushEffect {
  animation: push 1s ease-out 2s forwards;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

@keyframes push {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(2) skew(0deg) translate(6em, 2em);
  }

  70% {
    opacity: 0.7;
    transform: scale(0.8) translate(-1em, 0px);
  }

  85% {
    opacity: 0.8;
    transform: scale(1.1) translate(0.5em, 0px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate(0px, 0px);
  }

}

/* BACKGROUND CIRCLES */
#circle {
  z-index: 1;
  position: absolute;
  top: 0;
  left: var(--screen-half-width);
  width: var(--screen-full-width);
  height: var(--screen-full-width); /* Heights of the svgs are the same */
  opacity: 0.3;
  transition: transform 0.5s, opacity 15s;
  animation: opacityChange 15s infinite ease-out alternate;
}
.circleWrap {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

/*
#circle1 div {
  animation: rotation 60s infinite linear;
}
#circle3 div {
  animation: rotation 50s infinite linear;
}
*/
#circle2 div {
  animation: rotationBack 50s infinite linear;
}
#circle4 div {
  animation: rotation 40s infinite linear;
}

@media (max-width: 1024px) {
  #circle {
    top: 0;
    left: 0;
    opacity: 0.1;
    width: calc(2*var(--screen-full-width));
    height: calc(2*var(--screen-full-width)); /* Heights of the svgs are the same */
    animation: opacityChangeMobile 15s infinite ease-out alternate;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationBack {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes opacityChange {
  0% {
    opacity: 0.3;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityChangeMobile {
  0% {
    opacity: 0.1;
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.3;
  }
}
/* FOOTER */

.footer span {
  animation: appear 0.5s ease-out 3s forwards;
  animation-iteration-count: 1;
  opacity:0;
}

#circleLogoS {
  animation: bounce 1s ease-out 3s forwards;
  animation-iteration-count: 1;
  opacity:0;
}

@keyframes appear {
  0% {
    opacity: 0.1;
    transform: scale(0.1)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }

}

@keyframes bounce {
  0% {
    opacity:0.1;
    transform: scale(3) translate(0px, -10em);
  }

  100% {
    opacity:1;
    transform: scale(1) translate(0px, 0px);
  }

}


